@import "../../../../ui-kit/theme/colors.scss";

.type-inner {
  padding: 4px 12px;
  border-radius: 100px;
  display: flex;
  gap: 4px;
  width: fit-content;
  min-width: 110px;
  justify-content: space-between;
  align-items: center;
}

.type-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.type-income {
  background: $oragne-secondary-pale;
  color: $orange-primary;
}

.type-back {
  background: $blue-secondary-pale;
  color: $blue-primary;
}

.type-non {
  background: $base-secondary-pale;
  color: $base-additional-grey;
}

.type-taxes {
  background: $green-secondary-pale;
  color: $green-primary;
}
